@model SistemaEducacion.WebEntities.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="hold-transition login-page ">
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Registrar Usuario</p>

            @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
            {

                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.FirstNameUser, new
                        {
                            @class = "form-control",
                            placeholder = "Ingrese su primer nombre",
                            @type = "Text",
                            @required = "true"
                        })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.LastNameUser, new
                        {
                            @class = "form-control",
                            placeholder = "Ingrese su Apellido",
                            @type = "Text",
                            @required = "true"
                        })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.EmailUser, new
                        {
                            @class = "form-control",
                            placeholder = "Ingrese su Correo Electrónico",
                            @type = "Text",
                            @required = "true"
                        })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.PasswordUser, new
                        {
                            @class = "form-control",
                            placeholder = "Ingrese su Clave",
                            @type = "Password",
                            @required = "true"
                        })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>


                @if (ViewBag.MsjPantalla != null)
                {
                    <div class="alert alert-warning" role="alert" style="text-align:center">
                        @ViewBag.MsjScreen
                    </div>
                }

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Procesar</button>
                    </div>
                </div>
                <div style="text-align:center; margin-top:2%">
                    <a href="@Url.Action("Login","Home")" class="text-center">¿Ya tienes una cuenta?</a>
                </div>
            }

        </div>
    </div>


</div>*@
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="fw-bold mb-2 text-uppercase">Registrar Usuario</h2>
                        <p class="text-white-50 mb-5">Ingrese sus datos</p>

                        @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
                        {
                            <div class="form-outline form-white mb-4">
                                @Html.TextBoxFor(m => m.FirstNameUser, new
                                    {
                                        @class = "form-control form-control-lg",
                                        placeholder = "Ingrese su primer nombre",
                                        @type = "Text",
                                        @required = "true"
                                    })
                            </div>

                            <div class="form-outline form-white mb-4">
                                @Html.TextBoxFor(m => m.LastNameUser, new
                                    {
                                        @class = "form-control form-control-lg",
                                        placeholder = "Ingrese su Apellido",
                                        @type = "Text",
                                        @required = "true"
                                    })
                            </div>

                            <div class="form-outline form-white mb-4">
                                @Html.TextBoxFor(m => m.EmailUser, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Ingrese su Correo Electrónico",
                                        @type = "Text",
                                        @required = "true"
                                    })
                            </div>

                            <div class="form-outline form-white mb-4">
                                @Html.TextBoxFor(m => m.PasswordUser, new { placeholder = "Clave", @class = "form-control form-control-lg", @id = "typePasswordX", @type = "password", @required = "true" })
                            </div>

                            @if (ViewBag.MsjScreen != null)
                            {
                                <div class="alert alert-warning" role="alert" style="text-align:center">
                                    @ViewBag.MsjScreen
                                </div>
                            }

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Procesar</button>
                        }

                    </div>

                    <div>
                        <p class="mb-0">
                            ¿Ya tienes una cuenta? <a href="@Url.Action("Login","Home")" class="text-white-50 fw-bold">Inicie Sesión</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>